// Global styling for this template
body {
  font-size: 20px;
  color: $gray-900;
  @include serif-font;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

.csl-entry {
  a {
    text-decoration: underline;
  }
}

h1,
h2 {
  @include strong-sans-serif-font;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
  }

h3,
h4,
h5,
h6 {
  font-weight: 800;
  @include sans-serif-font;
}

a {
  color: $gray-900;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

.bg-dark {

  a {
    color: $gray-100;
    @include transition-all;
  
    &:focus,
    &:hover {
      color: lighten($primary,20%);
    }
  }

  .table {
    color: $gray_100;
    border-block-start: solid 2px $gray_200;
    border-block-end: solid 2px $gray_200;
    
    td {
      border-top: none;
    }

    thead {
      th {
        border-bottom: 2px solid $gray_200;

      }

    }

  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: rgba($primary,70%);
  text-shadow: none;
}

::selection {
  color: $white;
  background: rgba($primary,70%);
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
