// Styling for the post page
.post-preview, .tile-preview {
  > a {
    color: $gray-900;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }

    > .post-title {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
    }

    > .post-tag {
      margin-bottom: 0;
      margin-top: 20px;
      //@include serif-font;
    }
  }

  > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;

    > a {
      font-style: normal;
      text-decoration: none;

      &:focus,
      &:hover {
        //text-decoration: underline;
        color: $primary;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

table {
  border-block-start: solid 2px black;
  border-block-end: solid 2px black;

  .spaced {
    td:not(:first-child) {
      padding-bottom: 1em;
      height: 100%;
    }
  }

  thead {

    tr {
      border-block-end: solid 1px black;

      th {
        padding-bottom: 6px;
      }
    }
  }
}

article {
  p {
    font-weight: 500;
    line-height: 1.55;
    hyphens: auto;
    font-size: calc(1rem * 1.125 * 1.125);

    > img {
      max-width: 100%;
    }

    .katex {
      font-size: 1.1em;
    }
  }

  figcaption {
    color: $gray-600;
    font-size: 14px;
    font-size: bold;
    margin-top: 6px;
  }

  .katex-display > .katex {
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    text-align: initial;
  }
}

.tile-preview {
  padding: 20px;

  &.tile-box {
    background-color: rgba(248, 249, 250, 0.85);
    border-radius: 5px;
  }
}

.post-tag-news {
  color: lighten($purple, 0.5);
}


.post-tag-project {
  color: $blue
}

.post-tag-blogpost {
  color: $yellow
}

.post-tag-paper {
  color: $orange
}

.demo {
  @include sans-serif-font;
}

.paper {
  @include sans-serif-font;
  display: block;
  .paper-title {
    display: block;
    font-weight: 600;
    line-height: 25px;
  }

  .paper-authors {
    display: block;
    font-weight: 500;
    line-height: 25px;
  }

  .paper-venue {
    display: block;
    font-size: 85%;
    font-weight: 500;
    color: $gray-600
  }

}