#resume {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  @media only screen and (min-width: 1200px) {
    .front {
      transform: translate(-100%, 0);
      position: absolute;
      padding-right: 1em;
    }
  }

  .front {
    display: block;
    margin-top: 3px;
  }

  p {
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .student {
    align-items: center;
    flex-basis: auto;
    flex-direction: row;
    display: flex;
  }
}

.icon {
  height: 14px;
  margin-top: -3px;
}
