argh==0.26.2
cssmin==0.2.0
feedgen==0.9.0
jsmin
latexcodec==2.0.1
libsass==0.19.4
lxml==4.4.2
pathtools==0.1.2
pyandoc
pybtex==0.24.0
pyparsing==2.4.6
pystache
python-dateutil==2.8.1
PyYAML==6.0
scss==0.8.73
six==1.14.0
watchdog
zetalibrary==0.5.93
